.text {
  font-size: 23;
  font-family:  Seville;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

.xs-text {
  font-size: 15;
  font-family: Seville-Condensed;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

.h3 {
  font-size: 45;
  font-family:  Seville-Medium;
  font-weight: regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
} 
.h2 {
  font-size: 60;
  font-family: Seville-Regular;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}
.h1 {
  font-size: 120;
  font-family: Colfax-Medium;
  width: 100%;
  height: 100%;
  fill: white;
  text-length: 64;
}

.text-gray{
  fill: #B8C3C4;
}

#battery-level {
 width: 30; 
 height: 18; 
 fill: #75bd78;
 x: 10%;
 y: 8%+3; 
}

.battery-image {
 width: 32;
 height: 34;
 x: 10%;
 y: 6%;
}
#batteryPercent {
   x: 21%;
   y: 14%-2;
}

#date {
  x: 6%;
  y: 24%;
}

#error {
 x: 95%+3;
 y: 59%+2;
}


#iob {
 x: 9%;
 y: 58%;
}

#cob {
 x: 9%;
 y: 67%;
}

#delta {
 x: 85%;
 y: 11%;
}

#sgv {
 text-anchor:"end";
 x: 95%;
 y: 28%;
}

#timeOfLastSgv{
 x: 94%;
 y: 35%;
}

#time {
 x: 3%;
 y: 47%;
}

#arrows {
 x: 83%-18;
 y: 35%;
 width: 45;
 height: 45;
 fill: white;
}

#weather {
 x: 36%;
 y: 8%+3;
 opacity: 0;
}

#steps {
 x: 9%;
 y: 76%;
}
#heart {
 x: 9%;
 y: 85%;
}

#stepIcon {
 x: 3%;
 y: 71%; 
}
#heartIcon {
 x: 3%;
 y: 80%; 
}
.stat-image{
 width: 16;
 height: 16;
}

.gval {
  fill:#b0b1b2;
}

#dismiss {
  y: 59%;
  x: 5%;
  width: 100;
  height: 115;
}

#dismiss #text {
  fill:white;
}

#goToTreatment {
  y: 66%;
  x: 2%;
  width: 145;
  height: 100;
  fill: black;
}

#syringe {
 x: 3%;
 y: 53%;   
}
#hamburger {
 x: 3%;
 y: 62%;   
}

#activityStart {
  x:72%;
  y:65%;  
  fill: #0b001f;
}



#activityStart #image {
  href: "img/activity.png";
  height: 48;
  width: 48;
  fill: white;
}


#popup-title {
  x: 50%;
  y: 30%
}

#carbsTreatment {
  x: 50%;
  y: 27%;
  width: 50%;
}

#insulinTreatment {
  x: 50%;
  y: 50%;
  width: 50%;
}

#graphPoints {
 fill: red; 
}

.item { height: 90;  width:50; }
.item text { font-size: 80; fill: white; x: 10;  }

.itemTenth { height: 90; width:30; }
.itemTenth text { font-size: 80; fill: white; x: 0;  }


#rawbg {
  x: 75%;
  y: 35%;
}




#alertArrows {
 x: 70%;
 y: 15%;
 width: 45;
 height: 45;
 fill: white;
}

/* activity view */

#activity_time {
  x: 50%;
  y: 20%;   
  width:50%; 
  text-anchor: middle;
  vertical-align: middle;
  fill: gray;
}

#activity_heart {
  x: 24%;  
  y: 46%;
  fill: lightgray;  
  text-anchor: middle;
  vertical-align: middle;
}

#activity_heartIcon {
  x: 24%-12;
  y: 50%;
  height:24;
  width:24;
  fill: red;
  vertical-align: middle;
}

#activity_sgv {
  x: 76%;
  y: 46%;  
  text-anchor: middle;  
}

#activity_arrows {
  x: 76%-12;
  y: 50%;
  height:24;
  width:24;
  fill: white;
}

#activity_durationIcon {
  x: 38%;
  y: 60%;
  fill: white;  

}

#activity_duration {
  x: 45%;
  y: 65%;
  width: 150;
  fill: white;  
}

#activity_distanceIcon {
  x: 38%;
  y: 70%;
  fill: white;  

}

#activity_distance {
  x: 45%;
  y: 75%;
  width: 150;
  fill: white;  
}

#activityExit {
  height: 100%;  
  width: 100%;
  
}

